html {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.header, .hero-container {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a, .hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20vw;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 20px;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

button, .banner {
  background-color: #3882f6;
}

button {
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  padding: 10px 20px;
  color: #f9faf8;
  font-weight: bold;
  width: 100px;
  box-sizing: content-box;
  font-weight: bold;
  font-size: 18px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20vw;
  gap: 16px;
}

.hero-button {
  margin-top: 12px;
}

.hero-left, .hero-image {
  flex-basis: 400px;
  height: 224px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 32px 0;
}

.items {
  display: flex;
  align-self: center;
  gap: 32px;
  margin-bottom: 100px;
}

.item-image {
  width: 150px;
  height: 150px;
}

.item-image img {
  width: 100%;
  height: 100%;
  border: solid 2px #3882f6;
  border-radius: 8px;
  object-fit: cover;
}

.item-text {
  width: 150px;
  color: #1f2937;
  margin-top: 12px;
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 100px 25vw;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-source {
  font-weight: bold;
  align-self: flex-end;
  margin-top: 12px;
  font-size: 18px;
}

.banner-container {
  flex-grow: 1;
  padding: 80px 20vw;
}

.banner {
  padding: 50px 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.banner-header {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
}

.banner-text {
  color: #f9faf8;
}

.banner-button {
  border: #f9faf8 solid 2px;
}

