html {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.header, .hero-container {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a, .hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 15% 0;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 20px;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

button, .banner {
  background-color: #3882f6;
}

button {
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  padding: 4px 16px;
  color: #f9faf8;
  font-weight: bold;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 15%;
  gap: 16px;
}

.hero-left {
  flex-basis: 400px;
}

.hero-container img {
  border-radius: 8px;
}

.hero-button {
  margin-top: 12px;
}

.info {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 32px 0;
}

.banner-container {
  flex-grow: 1;
}